div > .category {
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div > .category-name {
    color: brown;
}

div > img {
    width: 4rem;
}

.maincat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}